:root {
  color-scheme: light dark;

  --main-color: light-dark(black, white);
  --highlight-color: light-dark(midnightblue, dodgerblue);
  --hover-color: light-dark(dodgerblue, deepskyblue);
  --background-color: light-dark(white, black);
}

html {
  background-color: var(--background-color);
  color: var(--main-color);
}

header,
main {
  width: 60%;
  margin: auto;
  min-width: 700px;
  max-width: 1000px;
}

.body-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.header-title-employee-name, .header-title-job-position {
  text-align: center;
  position: relative;
  color: var(--highlight-color);
  margin-bottom: 0;
  margin-top: 0;
}

.header-title-job-position {
  font-size: medium;
}

.title-contacts,
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-links-margin-top {
  margin-top: 0.5em;
}

.title-contacts-contact {
  font-size: small;
}

.title-contacts-email,
.title-contacts-divider,
.title-contacts-website {
  display: none;
}

.description-title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: var(--highlight-color);
  background-color: var(--background-color);
  position: relative;
  z-index: 2;
  padding: 0 5%;
  margin-bottom: 0;
}

.description-title-container {
  position: relative;
  text-align: center;
}

.description-title-container::after {
  position: absolute;
  content: '';
  width: 100%;
  top: 50%;
  left: 0;
  border-top: 1px solid var(--highlight-color);
  z-index: 1;
}

.description-summary-title, .projects-summary-title {
  color: var(--highlight-color);
  cursor: pointer;
  margin-top: 1.3em;
}

.description-summary-title:hover, .projects-summary-title:hover {
  color: var(--hover-color);
}

.link, .history-company-name, .description-title-link {
  text-decoration: none;
  color: var(--highlight-color);
  transition: linear 0.3s;
}

.link, .history-company-name {
  font-style: italic;
}

.link:hover, .description-title-link:hover {
  color: var(--hover-color);
}

.history-dates {
  font-size: smaller;
}

.history-tech-stack,
.history-faculty-title {
  margin-bottom: 0;
  margin-top: 0;
}

.history-title-without-margin {
  margin-bottom: 10px;
}

.contacts-links svg {
  width: 20px;
}

a:not(:hover) svg path {
  fill: var(--highlight-color);
  transition: linear 0.6s;
}

a:hover svg path {
  transition: linear 0.3s;
}

.contacts-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-link-link {
  margin-right: 10px;
}

.achivements-item {
  padding-bottom: 5px;
}

.aside-content-download-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.aside-content-download-icon {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.aside-content-tooltip {
  position: absolute;
  background-color: var(--highlight-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
  max-width: 250px;
}

.history-tech-stack span:not(:first-child) {
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

.history-tech-stack span:not(:first-child):hover {
  color: var(--hover-color);
}

.language-button {
  position: fixed;
  bottom: 90px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.tech-stack-item {
  position: relative;
  display: inline-block;
}

.tech-stack-item .tooltip {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 16vw;
  min-width: 200px;
  background-color: var(--hover-color);
  color: var(--main-color);
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tech-stack-item:hover .tooltip, .tech-stack-item:focus .tooltip {
  display: unset;
}