@media screen and (width <= 700px), print {
  header,
  main {
    width: 100%;
    min-width: 300px;
  }

  .body-header {
    flex-direction: column;
  }

  .description-columns {
    display: block;
  }

  .history-list {
    display: flex;
    align-items: center;
    margin-top: 1.3em;
  }

  .history-company-name {
    border-right: 1px solid midnightblue;
    margin: 0;
    padding-right: 10px;
  }

  .history-dates {
    padding-left: 10px;
  }

  .history-title {
    margin-top: 10px;
  }

  .header-title-job-position {
    margin-bottom: revert;
  }
}
