@media print {
  html {
    --highlight-color: black;
    --hover-color: black;
    --background-color: white;
    --main-color: black;
  }

  .body__header {
    margin-top: 0;
  }

  .body__aside-content,
  .contacts-links_not-printed,
  .description__details {
    display: none;
  }

  .title-contacts {
    flex-direction: row;
    gap: 10px;
  }

  .title-contacts__email,
  .title-contacts__divider {
    display: block;
  }
}
