.title-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-contacts-contact {
    font-size: small;
}

.title-contacts-email,
.title-contacts-divider,
.title-contacts-website {
    display: none;
}

.contacts-links-margin-top {
    margin-top: 0.5em;
}

.contacts-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-links svg {
    width: 20px;
}

.contacts-link-link {
    margin-right: 10px;
}

@media print {
    .title-contacts {
        flex-direction: row;
        gap: 10px;
    }

    .contacts-links {
        display: none;
    }

    .title-contacts-email,
    .title-contacts-divider,
    .title-contacts-website {
        display: block;
    }
}
